<h2>Change password for User <a href="/admin/User/details/{{id}}">{{email}}</a></h2>
<form action="/User/change-password/{{id}}" method="post">
    <input name="password1" type="password" placeholder="new password">
    <input name="password2" type="password" placeholder="new password again">
    <button type="submit">Change password</button>
</form>
{{#if err}}
    <p class="err">{{err}}</p>
{{/if}}
<br>
<h2>Send reset link to {{email}}</h2>
<button id="reset">Send reset link</button>
<script>
    const resetButton = window.document.getElementById('reset');
    resetButton.addEventListener('click', () => {
        window.fetch('/admin/user/send-reset', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({email: '{{email}}'}),
        }).then((res) => {
            if (res.ok) {
                window.location.replace('/admin/User/details/{{id}}')
            }
        });
    });
</script>
