{{#each tableData}}
    <h1>{{this.description}}</h1>
    <table>
        <tr>
            {{#each this.columns}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        {{#each this.rows}}
            <tr>
                {{#each this}}
                    {{#if this.link}}
                        <td><a href="{{this.link}}">{{this.value}}</a></td>
                    {{else}}
                        <td>{{this.value}}</td>
                    {{/if}}
                {{/each}}
            </tr>
        {{/each}}
    </table>
{{/each}}
